+b.SECTION.about.section-anchor#section-about
	+e.container.container
		.row
			.col-12.col-xs-6
				+b.title-group
					+e.H3.title.title-lg About<br>me
					+b.about__shape.shape__(data-emergence="hidden")
						+e.inner
							+e.inner-shape
								+b.about__image
									img(src="img/about/photo.jpg")
					+e.content
						+b.P.title-md
							| Hello! I’m 
							+b.SPAN.highlight._brand-1 web-developer
							| , freelancer from Cherkassy. I have more than 3.5 years experience in creating websites. I am proud of every project, that touched my hands.
						+e.content-footer
							+btn-cross('My resume', 'button')(class="_size-lg")
		+e.P.letters-bg.letters-bg(data-emergence="hidden") Web Developer