+b.SECTION.contacts#section-contacts
	+e.shape._left.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	//- +e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.container.container
		+e.row.row
			.col-12.col-sm-6
				+e.group.group__
					+e.H3.title(data-emergence="hidden" data-text="Let’s work Together")
						| Let’s work 
						span.color-brand-1 Together
				+social('_big')
			.col-12.col-sm-6.col-md-5
				+b.message._shadow
					+e.header
						+e.P.title Start working with me
					+e.body
						+form()
		+e.P.letters-bg.letters-bg(data-emergence="hidden") Contact