+b.SECTION.intro#section-intro
	+e.shape._left.shape__._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._white
	+e.shape._right.shape__._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._white
	+e.container.container
		+e.shape._main.shape__(data-emergence="hidden")
			+e.inner
				+e.inner-shape._brand-1
		+e.row.row
			+e.column.col-12.col-sm-6.col-lg-5
				+e.H1.title(data-emergence="hidden" data-text="Vsevolod Kurochka") Vsevolod Kurochka
				//+e.H1.title
					| Vsevolod
					br
					span.font-weight-extra-light Kurochka
					| Kurochka
				+e.H2.subtitle
					+e.SPAN.subtitle-element Web developer
					+e.SPAN.subtitle-element Freelancer
					+e.SPAN.subtitle-element 4 years experience
				+e.P.content
					| Looking for a web developer? I am a freelancer from Cherkassy, Ukraine. With the help of 
					+b.SPAN.highlight._brand-1 magic 
					| , I will create a modern site for your business.
				+e.button
					+btn-cross('My resume', 'button')(class="_cross-white _size-lg")