-
	const portfolio = [
		{
			"id": '1',
			"image": "img/image1.jpg",
			"title": "Item Wordpress 1",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '2',
			"image": "img/image2.jpg",
			"title": "Item Wordpress 2",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '3',
			"image": "img/image3.jpg",
			"title": "Item Wordpress 3",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '4',
			"image": "img/image4.jpg",
			"title": "Item Wordpress 1",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '5',
			"image": "img/image5.jpg",
			"title": "Item Wordpress 2",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '6',
			"image": "img/image6.jpg",
			"title": "Item Wordpress 3",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '7',
			"image": "img/image1.jpg",
			"title": "Item Wordpress 3",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '8',
			"image": "img/image2.jpg",
			"title": "Item Wordpress 3",
			"content": "Forget about reviewing hundreds of questionn aires every day, wasting money on meaningless correspondence!",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		},
		{
			"id": '9',
			"image": "img/image3.jpg",
			"title": "Item Wordpress 3",
			"content": "Forget...",
			"category": "Front End",
			"skills": ['CSS', 'HTML', 'JS', 'PHP', 'WP'],
			"complexity": "4"
		}
	];

+b.SECTION.portfolio__.section-anchor#section-portfolio
	//- +e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	.container
		+e.header.row
			.col-12.col-sm-10
				+b.group._inline
					+e.H3.title(data-emergence="hidden" data-text="Case Projects")
						| Case
						br
						span.color-brand-1 Projects
					+e.content
						| For 
						+b.SPAN.highlight._brand-1 4 years of work 
						| , I have collected many projects that I can share with you. For each project, I made considerable efforts to ensure that everyone was happy!
	+e.grid.owl-carousel#portfolio-grid
		for item in portfolio
			+case(item)
				
	+e.footer
		+btn-cross('See full portfolio', 'link', '#')(class="_cross-brand-1 _size-lg")