+b.SECTION.services
	.container
		+b.group._inline
			+e.H3.title(data-emergence="hidden" data-text="My Services")
				| My
				br
				span Services
		+e.grid
			+e.item(data-emergence="hidden")
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website
			+e.item(data-emergence="hidden")
				+e.item-header
					include /components/service-2
				+e.P.item-title Creation of selling landings
			+e.item(data-emergence="hidden")
				+e.item-header
					include /components/service-3
				+e.P.item-title Quality and adaptive design
			+e.item(data-emergence="hidden")
				+e.item-header
					include /components/service-4
				+e.P.item-title Programming (WordPress, Opencart)
			+e.item(data-emergence="hidden")
				+e.item-header
					include /components/service-5
				+e.P.item-title Copywriting
			+e.item(data-emergence="hidden")
				+e.item-header
					include /components/service-6
				+e.P.item-title Support for existing projects