-
	const testimonials = [
		{
			id: '1',
			image: 'img/image1.jpg',
			name: 'Dmitry Kirpach',
			position: 'CEO & Founder',
			content: 'Man is the word! He said he did. It\'s nice to work, I advise everyone.',
		},
		{
			id: '2',
			image: 'img/image2.jpg',
			name: 'Dmitry Kirpach',
			position: 'CEO & Founder',
			content: 'Man is the word! He said he did. It\'s nice to work, I advise everyone.',
		},
		{
			id: '3',
			image: 'img/image3.jpg',
			name: 'Dmitry Kirpach',
			position: 'CEO & Founder',
			content: 'Man is the word! He said he did. It\'s nice to work, I advise everyone.',
		}
	];

+b.SECTION.testimonial#section-testimonial
	+e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.container.container
		+e.row.row
			.col-12.col-sm-6.col-md-7
				+e.group.group__
					+e.H3.title(data-emergence="hidden" data-text="Customer Testimonials")
						| Customer 
						span.color-brand-1 Testimonials
					+e.content
						p
							| Customers are always happy. They know that 
							+b.SPAN.highlight._brand-1 Vsevolod Kurochka
							|  is the key to success and quality.
			.col-12.col-sm-6.col-md-5
				+e.content.owl-carousel#owl-testimonial
					each testimonial in testimonials
						+e.item
							+e.item-header
								+e.item-image-wrapper
									+e.item-image(src=testimonial.image)
							+e.item-body
								+e.item-body-content
									p=testimonial.content
							+e.item-footer
								+e.P.item-title=testimonial.name
								+e.P.item-subtitle=testimonial.position
	// +e.P.letters-bg.letters-bg(data-emergence="hidden") testimonials