+b('services')

	+e('item')
		+relative(0)

		text-align: center
		background-color: $color-white
		padding: 30px
		box-shadow: 0px 1px 25px #ddd
		flex-basis: 100%

		+transition

		&:hover
			top: -2px

		+min(sm)
			flex-basis: 50%

		+ee('header')

			margin-bottom: 15px

			svg

				height: 60px

			path, rect

				+transition

				fill: $color-brand-1

				stroke-dasharray: 50
				stroke-dashoffset: 50

		+ee('title')
			font-weight: bold

			+font("secondary")

			+transition

		&[data-emergence="visible"] &

			+ee('header')

				path, rect

					stroke-dashoffset: 0

		&:hover &

			+ee('header')

				svg

					path, rect

						fill: $color-brand-2

			+ee('title')

				color: $color-brand-2