+b('services')

	+e('item')
		+relative(0)

		text-align: center

		background-color: $color-white

		padding: 30px

		transform: rotate(1deg)

		box-shadow: 0px 1px 25px #ddd

		+transition

		&:hover
			top: -2px

		@at-root
			%services-item-special
				z-index: 1
				box-shadow: 0px 1px 25px #ddd

		&:nth-child(2)
			transform: rotate(6deg)
			@extend %services-item-special

		&:nth-child(4)
			transform: rotate(6deg)
			@extend %services-item-special

		&:nth-child(6)
			transform: rotate(-6deg)
			@extend %services-item-special

		+ee('header')

			margin-bottom: 15px

			svg

				height: 100px

			path, rect

				+transition

				fill: $color-brand-1

				stroke-dasharray: 50
				stroke-dashoffset: 50

		+ee('title')
			text-transform: uppercase
			font-weight: bold

			+font("secondary")

			+transition

		&[data-emergence="visible"] &

			+ee('header')

				path, rect

					stroke-dashoffset: 0

		&:hover &

			+ee('header')

				svg

					path, rect

						fill: $color-brand-2

			+ee('title')

				color: $color-brand-2