+b('case')
	&__title
		display: block
		margin: 7.5px 0
		font:
			size: 25px
			weight: bold
		+font('secondary')
		letter-spacing: 1px
		text:
			decoration: none
			transform: uppercase
		color: inherit
		+transition()
	
	&:hover &__title
		color: $color-brand-2