-
	const navigation = [
		{
			name: 'My skills',
			link: '#section-skills'
		},
		{
			name: 'Portfolio',
			link: '#section-portfolio'
		},
		{
			name: 'Testimonial',
			link: '#section-testimonial'
		}
	];