+b('skills')
	position: relative
	z-index: 1
	&:before
		+pseudo()
		left: -30%
		top: -75px
		width: 120%
		height: 100%
		background-color: $color-gray-light
		transform: rotate(-5deg)
		z-index: -1
	
	+min(sm)
		&:before
			left: -50%
			top: -100px