$intro-title: ('default': 30px, 'xs': 40px, 'sm': 60px, 'md': 75px, 'lg': 90px)

+b('intro')
	+e('title')
		+relative()
		
		margin-bottom: 30px
		line-height: 1.1
		font-weight: 700
		color: $color-white
		+fs-simple($intro-title)


		+m('small')
			+min(md)
				font-size: 70px
	
		// &:before
		// 	content: ''
		// 	+absolute(0, null, null, 0)
		// 	+size(100%)
		// 	+bg('../img/title-pattern.png.')

		&[data-emergence="visible"]
			// 1. Namespace
			// 2. Intensity
			// 3. Text color
			// 4. Background color (flat)
			// 5. Highlight #1 color
			// 6. Highlight #2 color
			// 7. Width (px)
			// 8. Height (px)
			+textGlitch("intro-title", 4, $color-white, darken($color-brand-1, 5%), $color-brand-2, $color-black, 450, 150)

			+min(md)
				+textGlitch("intro-title", 4, $color-white, darken($color-brand-1, 5%), $color-brand-2, $color-black, 900, 400)