+b('intro')
	+relative(-80px)
	+padding-y(120px)
	margin-bottom: -80px
	z-index: 1
	color: #f7f7f7
	background-color: $color-brand-1
	transform: rotate(5deg)

	&:before
		content: ''
		+absolute(-100px, null, null, -30%)
		+size(120%, 100%)
		background-color: darken($color-brand-1, 10%)
		transform: rotate(10deg)
		z-index: -1
		// +min(sm)
		// 	left: -100px
		// 	top: -100px

	+min(md)
		+padding-y(250px, 200px)