$intro-title: ('default': 40px, 'sm': 50px, 'md': 60px, 'lg': 75px)

+b('intro')
	+e('title')
		+relative()
		+font('secondary')
		margin-bottom: 30px
		line-height: 1.1
		font-weight: 700
		letter-spacing: 10px
		text-transform: uppercase
		+fs-simple($intro-title)
		color: $color-brand-3
	
		// &:before
		// 	content: ''
		// 	+absolute(0, null, null, 0)
		// 	+size(100%)
		// 	+bg('../img/title-pattern.png.')

		&[data-emergence="visible"]
			// 1. Namespace
			// 2. Intensity
			// 3. Text color
			// 4. Background color (flat)
			// 5. Highlight #1 color
			// 6. Highlight #2 color
			// 7. Width (px)
			// 8. Height (px)
			+textGlitch("intro-title", 4, $color-brand-3, lighten($color-brand-1, 5%), $color-brand-2, $color-black, 450, 150)