+b('intro')
	+relative()
	+padding-y(120px)
	margin-bottom: -80px
	z-index: 1
	color: $color-white
	//background-color: $color-brand-1
	//transform: rotate(5deg)

	&:before
		content: ''
		+absolute(0, 0)
		+size(80%, 100%)
		background-color: $color-brand-1
		z-index: -1
		
	+min(md)
		+padding-y(250px, 200px)