+b('intro')
	+relative()
	+padding-y(120px)
	color: $color-white
	//background-color: $color-brand-1
	//transform: rotate(5deg)

	&:before
		content: ''
		+absolute(0, 0)
		+size(100%, 100%)
		background-color: $color-brand-1
		z-index: -1
		//transform: rotate(5deg)

		// +min(md)
		// 	right: -10%
		// 	width: 70%
		
	+min(md)
		+padding-y(150px, 200px)