$intro-title: ('default': 40px, 'sm': 70px, 'md': 80px, 'lg': 90px)
$intro-title-large: ('default': 40px, 'sm': 60px, 'md': 70px, 'lg': 80px)

+b('intro')
	+e('title')
		+relative()
		
		margin-bottom: 30px
		line-height: 1.1
		font-weight: 700
		color: $color-white
		
		&_small
			+fs-simple($intro-title)

		&_large
			+fs-simple($intro-title-large)
	
		// &:before
		// 	content: ''
		// 	+absolute(0, null, null, 0)
		// 	+size(100%)
		// 	+bg('../img/title-pattern.png.')

		&[data-emergence="visible"]
			// 1. Namespace
			// 2. Intensity
			// 3. Text color
			// 4. Background color (flat)
			// 5. Highlight #1 color
			// 6. Highlight #2 color
			// 7. Width (px)
			// 8. Height (px)
			+textGlitch("intro-title", 4, $color-white, darken($color-brand-1, 5%), $color-brand-2, $color-black, 450, 150)

			+min(md)
				+textGlitch("intro-title", 4, $color-white, darken($color-brand-1, 5%), $color-brand-2, $color-black, 900, 400)